@font-face {
  font-family: "Work Sans";
  src: url(./assets/Work_Sans/static/WorkSans-Regular.ttf);
}

@font-face {
  font-family: "Work Sans";
  src: url(./assets/Work_Sans/static/WorkSans-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: "Work Sans";
  src: url(./assets/Work_Sans/static/WorkSans-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: "Work Sans";
  src: url(./assets/Work_Sans/static/WorkSans-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Work Sans";
  src: url(./assets/Work_Sans/static/WorkSans-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Work Sans";
  src: url(./assets/Work_Sans/static/WorkSans-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Work Sans";
  src: url(./assets/Work_Sans/static/WorkSans-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Work Sans";
  src: url(./assets/Work_Sans/static/WorkSans-MediumItalic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Work Sans";
  src: url(./assets/Work_Sans/static/WorkSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Work Sans";
  src: url(./assets/Work_Sans/static/WorkSans-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Work Sans";
  src: url(./assets/Work_Sans/static/WorkSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Work Sans";
  src: url(./assets/Work_Sans/static/WorkSans-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Work Sans";
  src: url(./assets/Work_Sans/static/WorkSans-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Work Sans";
  src: url(./assets/Work_Sans/static/WorkSans-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Work Sans";
  src: url(./assets/Work_Sans/static/WorkSans-ExtraBold.ttf);
  font-weight: 900;
}

@font-face {
  font-family: "Work Sans";
  src: url(./assets/Work_Sans/static/WorkSans-ExtraBoldItalic.ttf);
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: url(./assets/Rubik/static/Rubik-Regular.ttf);
}

@font-face {
  font-family: "Rubik";
  src: url(./assets/Rubik/static/Rubik-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: url(./assets/Rubik/static/Rubik-Light.ttf);
  font-weight: 100;
}

@font-face {
  font-family: "Rubik";
  src: url(./assets/Rubik/static/Rubik-Light.ttf);
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: url(./assets/Rubik/static/Rubik-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Rubik";
  src: url(./assets/Rubik/static/Rubik-MediumItalic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: url(./assets/Rubik/static/Rubik-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Rubik";
  src: url(./assets/Rubik/static/Rubik-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: url(./assets/Rubik/static/Rubik-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Rubik";
  src: url(./assets/Rubik/static/Rubik-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: url(./assets/Rubik/static/Rubik-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Rubik";
  src: url(./assets/Rubik/static/Rubik-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: url(./assets/Rubik/static/Rubik-ExtraBold.ttf);
  font-weight: 900;
}

@font-face {
  font-family: "Rubik";
  src: url(./assets/Rubik/static/Rubik-ExtraBoldItalic.ttf);
  font-weight: 900;
  font-style: italic;
}
